openapi: 3.0.0
info:
  title: discogs_api_minimal
  version: 1.0.0
  description: |-
    Minimal API subset covering the two Discogs endpoints the discogs-duration app needs.

    **Auth:** Send your personal access token as:
    `Authorization: Discogs token=<your_token>`

    Set `base_url`, `discogs_token`, and `user_agent` as collection or environment variables.
servers:
  - url: 'https://api.discogs.com'
paths:
  '/releases/{release_id}':
    get:
      summary: Get Release
      parameters:
        - name: User-Agent
          in: header
          description: Discogs requires a descriptive User-Agent for all API clients
          schema:
            type: string
          example: '{{user_agent}}'
        - name: Authorization
          in: header
          description: Discogs Personal Access Token for authenticated requests
          schema:
            type: string
          example: 'Discogs token={{vault:discogstoken}}'
      responses: {}
    parameters:
      - name: release_id
        in: path
        required: true
        description: Numeric Discogs release ID (from the discogs.com/release/<id>-... URL). Not a master ID — durations vary by pressing.
        schema:
          type: integer
        example: 249504
  /database/search:
    get:
      summary: Search Releases
      parameters:
        - name: q
          in: query
          description: 'Search query (artist, title, etc.)'
          schema:
            type: string
          example: Nevermind
        - name: type
          in: query
          description: 'Restrict results to one entity type: release, master, artist, label'
          schema:
            type: string
          example: release
        - name: per_page
          in: query
          description: Results per page
          schema:
            type: integer
          example: 10
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
          example: 1
        - name: User-Agent
          in: header
          description: Discogs requires a descriptive User-Agent for all API clients
          schema:
            type: string
          example: '{{user_agent}}'
        - name: Authorization
          in: header
          description: Discogs Personal Access Token for authenticated requests
          schema:
            type: string
          example: 'Discogs token={{vault:discogstoken}}'
      responses: {}
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
security:
  - ApiKeyAuth: []
